.main-layout {
	max-width: 1080px;
	margin: 0 auto;
}
.main-layout__content>div {
	float: left
}

.main-layout__content--left {
	width: 15%
}
.main-layout__content--center {
	width: 65%
}
.main-layout__content--right {
	width: 20%
}

.main-content {
	h3 {
		color: $color-complement-0;
	}
	h4 {
		color: $color-complement-3;
	}
}

.header {
	border: solid .2rem;
	border-color: $color-primary-1;
	border-radius: 4px;
	background: $color-complement-3;

	h2 {
		color: $color-complement-4;
		margin: .2rem .1rem 0rem .1rem;
	}

	h3 {
		color: $color-primary-3;
		font-weight: 500;
		margin: .2rem .1rem .2rem .1rem;
	}

	.header__title {
		margin: .5rem 1rem .5rem 1rem;
	}

}
