.main-layout__content>div {
	float: left
}

.main-layout__content--left {
	width: 20%
}
.main-layout__content--center {
	min-width: 60%
}
.main-layout__content--right {
	width: 20%
}

.header {
	border: solid .2rem;
	border-color: $color-primary-1;
	border-radius: 4px;
	background: $color-primary-2;

	h2 {
		color: $color-complement-2;
		font-weight: 500;
		margin: .2rem .1rem 0rem .1rem;
	}

	h3 {
		color: $color-primary-4;
		margin: .2rem .1rem .2rem .1rem;
	}

	.header__title {
		margin: .5rem 1rem .5rem 1rem;
	}

}
