.nav-content {
	font-size: 1rem;

	a.links--internal {
		font-family: $font-secondary;
		color: $color-complement-1;
		&:visited {
			color: $color-complement-2;
		}
		&:hover {
			color: $color-complement-0;
		}
		&:active {
			color: $color-complement-1;
		}
	}
	
}