/*Color Testing*/
.color-test {
	.primary-0 {
		background: $color-primary-0;
	}
	.primary-1 {
		background: $color-primary-1;
	}
	.primary-2 {
		background: $color-primary-2;
	}
	.primary-3 {
		background: $color-primary-3;
	}
	.primary-4 {
		background: $color-primary-4;
	}

	.primary-text-0 {
		color: $color-primary-0;
	}
	.primary-text-1 {
		color: $color-primary-1;
	}
	.primary-text-2 {
		color: $color-primary-2;
	}
	.primary-text-3 {
		color: $color-primary-3;
	}
	.primary-text-4 {
		color: $color-primary-4;
	}

	.complement-0 {
		color: $color-complement-0;
	}
	.complement-1 {
		color: $color-complement-1;
	}
	.complement-2 {
		color: $color-complement-2;
	}
	.complement-3 {
		color: $color-complement-3;
	}
	.complement-4 {
		color: $color-complement-4;
	}
}