//Gather variables
// @import 'pallette';
@import 'pallette2';
// @import 'pallette3';
$font-primary: Arial;
$font-secondary: Arial;
$background-primary: rgb(25, 25, 25);


body {
	background: $background-primary;
	font-family: $font-primary;
	color: $color-primary-2;
	
	@import 'main-layout';
	@import 'resume';
	@import 'navigation';
	@import 'playground';

}
