//Gather variables
@import 'pallette';
$font-primary: Arial;
$font-secondary: Arial;
$background-primary: rgb(32, 32, 32);

//Temporary
body {
	background: $background-primary;
	font-family: $font-primary;
	color: $color-primary-0;
	
	@import 'main-layout';
	@import 'navigation';

}
